html, body
{
    margin: 0px;
    overflow: hidden;
    background-color: #333333;
    font-family: 'Baumans', monospace;
    height: 100%;
    user-select: none;
}
#wrapper
{
    width: 1024px;
    height: fit-content;
    position: relative;
    top: 48%;
    margin: 0px auto;
    transform: translateY(-50%);
}
#deviceList
{
    text-align: left;
    padding: 5px;
    width: 170px;
    border-radius: 5px;
    background-color: #333333;
    color: #bbbbbb;
    font-size: 16px;
}
#options
{
    width: 100%;
    height: 490px;
    border: 2px solid white;
    margin: 0px auto;
    background-color: #bbbbbb;
}
#steps
{
    width: 100%;
    height: 100px;
    margin: 0px auto;
    margin-top: 6px;
}
.num
{
    position: relative;
    top: 55px;
    left: 2px;
}
.step
{
    float: left;
    width: 5%;
    height: 100%;
    background-color: #333333;
    margin-left: 1%;
  
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    border-bottom: 3px solid #aaaaaa;
    color: #dddddd;
}
.active
{
    background-color: #888888;
}
.inactive
{
    background-color: #666666;
}
.step:hover
{
    cursor: pointer;
}

#version
{
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #bbbbbb;
    font-size: 12px;
}
.optionColumn{
    font-size: 40px;
    width: fit-content;
    margin-left: 10px;
    margin-top: 5px;
}
.optionRange
{
    transform: rotate(90deg);
    margin-top: 80px;
}
.box
{
    width: fit-content;
    font-size: 32px;
    color: #bbbbbb;
    background-color: #333333;
}

.section
{
    border: 2px solid #333333;
    border-radius: 5px;
    width: 190px;
    height: fit-content;
    margin: 5px;
    float: left;
    padding-bottom: 5px;
}
.section .title
{
    font-size: 22px;
    background-color: #333333;
    color: #bbbbbb;
    text-align: center;
}
.slider .title
{
    border-radius: 5px;
    text-align: center;
    color: #333333;
    background-color: #bbbbbb;
}
.slider
{
    width: fit-content;
}
.sliders
{
    position: relative;
    width: fit-content;
    margin-top: 0px;
    margin: 0px auto;
}
.sliders input
{

    margin: 0px;
    margin-top: 3px;

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    outline: none;
    background-color: #333333;
    border-radius: 5px;
    height: 32px;
    width: 180px;
    padding: 0px;
}

.sliders input::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 32px;
    height: 40px; 
    background: #bbbbbb; 
    border-radius: 6px;
    border: 3px solid #333333;
    cursor: pointer;
  }

  .button
  {
      background-color: #333333;
      color: #bbbbbb;
      border-radius: 5px;
      width: 100px;
      font-size: 20px;
      height: 35px;
      line-height: 35px;
      margin: 0px auto;
      margin-top: 8px;
      border-bottom: 3px solid #666666;
      cursor: pointer;
      text-align: center;
  }

  .note
  {
      font-size: 20px;
      position: relative;
      top: 0px;
      text-align: center;
  }