:root
{
    --dark-blue1: #00171F;
    --dark-blue2: #003459;
    --light-blue1: #007EA7;
    --light-blue2: #00A8E8;
}
html, body
{
    margin: 0px;
    padding: 2px;
    overflow: hidden;
    
    background-color: var(--dark-blue1);
    color: var(--light-blue2);
    font-family: 'Tomorrow', sans-serif;
    height: 100%;
    user-select: none;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--dark-blue1);
    border-radius: 3px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-blue2);
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue1);
  }
#wrapper
{
    width: 1024px;
    
    max-height: 89%;
    margin: 0px auto;
    overflow-y: auto;
}
#master_controls
{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--light-blue1);
    color: var(--light-blue2);
}
#master_controls .button
{
    margin-left: 10px;
    border: none;
}
#bpmMenu
{
    position: absolute;
    top: 60px;
    left: 152px;
    width: 182px;
    padding: 5px;
    background-color: var(--dark-blue1);
    border: 1px solid var(--light-blue2);
}
.button
{
    width: fit-content;
    height: 40px;
    padding: 5px;
    line-height: 40px;
    font-size: 24px;
    border: 1px solid var(--light-blue1);
    float: left;
}
.button:hover
{
    background-color: var(--light-blue1);
    color: var(--dark-blue2);
    cursor: pointer;
}
#tracks
{
    width: 100%;
}
.track
{
    height: 88px;
    margin-top: 15px;
    margin-left: 3px;
}
.track_controls
{
    height: fit-content;
}
.track_controls .button
{
    font-size: 18px;
    height: 30px;
    line-height: 30px;
}
.track_header
{
    padding: 5px;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--light-blue1);
    float: left;
    border-radius: 3px;
}
.track_name
{
    font-size: 20px;
    margin-bottom: 2px;
    padding-left: 3px;
    background-color: var(--light-blue2);
    color: var(--dark-blue1);
}
.track_steps
{
    float: left;
    margin-left: 3px;
}
.step
{
    width: 52px;
    height: 88px;
    margin-left: 0px;
    border: 1px solid var(--light-blue1);
    border-right: none;
    float: left;
    text-indent: 3px;
}
#stepNum
{
    position: relative;
    top: 68px;
}
#last
{
    border-right: 1px solid var(--light-blue1);
}

.edit_menu
{
    position: absolute;
    width: 895px;
    height: 550px;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0px auto;
    border: 1px solid var(--light-blue2);
    border-radius: 3px;
    background-color: var(--dark-blue1);
    transition: bottom 0.2s;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
}
.edit_title
{
    font-size: 24px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--light-blue1);
}
.edit_title .button
{
    font-size: 20px;
    height: 17px;
    line-height: 18px;
    float: right;
}
.edit_options
{
    padding: 3px;
}
.edit_section
{
    border: 1px solid var(--light-blue1);
    width: 183px;
    padding: 5px;
    float: left;
    margin-left: 21px;
    margin-top: 5px;
}
.section_title
{
    border-bottom: 1px solid var(--light-blue1);
    margin-bottom: 2px;
    text-align: center;
}
.edit_section .button
{
    font-size: 18px;
    margin-top: 2px;
}
#trackMenu
{
    height: 380px;
}
input
{

    margin: 0px;
    margin-top: 3px;

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    outline: none;
    background-color:var(--dark-blue2);
    border: 1px solid var(--light-blue1);
    border-radius: 3px;
    height: 32px;
    width: 180px;
    padding: 0px;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 28px;
    height: 32px; 
    background: var(--dark-blue1); 
    border-radius: 3px;
    border-left: 1px solid var(--light-blue2);
    border-right: 1px solid var(--light-blue2);
    cursor: pointer;
  }

#keys
{
    float: left;
    width: 50px;
    border-right: 1px solid var(--light-blue2);
    padding-right: 5px;
}
#grid_keys
{
    float: left;
    width: 90%;
}
#grid_keys .key_b
{
    width: 100%;
}
#grid_steps
{
    left: 59px;
    position: absolute;
}
.g_step
{
    height: 350px;
    float: left;
}
.g_step .key_w, .g_step .key_b
{
    width: 50px;
    border-radius: 0px;
    text-align: center;
    text-indent: 0px;
    border: 1px solid #00455C;
    opacity: 70%;
}
.key_b2
{
    width: 50px;
    height: 32px;
    line-height: 32px;
    border-radius: 0px;
    text-align: center;
    text-indent: 0px;
    border: 1px solid #00455C;
    opacity: 70%;
}
.key_b2:hover
{
    opacity: 100%;
}
.key_w
{
    height: 32px;
    border-radius: 3px;
    line-height: 32px;
    border: 1px solid var(--light-blue1);
    background-color: #172c33;
    text-indent: 5px;
}
.key_b
{
    text-indent: 5px;
    line-height: 32px;
    height: 32px;
    width: 30px;
    border-radius: 3px;
    border: 1px solid var(--light-blue1);
}
.g_step .key_b:hover, .g_step .key_w:hover
{
    opacity: 100%;
}

#footer
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: rgb(0, 98, 131);
    font-size: 14px;
    width: 100%;
    background-color: var(--dark-blue1);
    padding-left: 5px;
    padding-bottom: 5px;
}
a
{
    color: rgb(0, 112, 150);   
}