#start
{
    background-color: #3e4b2d;
    color: #dddddd;
}
body
{
    margin: 0px;
    background-color: #888888;
    user-select: none;
    font-family: 'Baumans', cursive;
}
.button
{
    width: fit-content;
    padding: 3px;
    opacity: 100%;
    border: 1px solid black;
    float: left;
    margin: 2px;
    background-color: #3e4b2d;
    color: #daf73a;
    position: relative;
}
.button:hover
{
    
    border-color: #daf73a;
    cursor: pointer;
}

.section
{
    display: block;
    text-align: center;
    font-size: 14px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom: 1px inset #777777;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.name
{
    font-size: 16px;
    margin-bottom: 3px;
    padding: 3px;
    text-align: center;
}
.box
{
    margin-bottom: 10px;
    display: table;
}

.input #inner, .output #inner
{
    border: 3px solid #bbbbbb;
    background-color: #222222;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    top: 1px;
    left: 1px;
    position: relative;
}
.input #label, .output #label
{
    position: relative;
    left: 20px;
    top: -15px;
    font-size: 14px;
    width: 25px;
}
.input, .output
{
    border-radius: 10px;
    border: 2px solid #bbbbbb;
    width: 18px;
    height: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.output:hover
{
    cursor: pointer;
    border-color: black;
}

.light
{
    width: 8px;
    height: 8px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #3e4b2d;
}
#off.light
{
    background-color: #daf73a;
}
#on.light
{
    background-color: #3e4b2d;
}

.module
{
    float: left;
    height: 264px;
    margin-left: 0px;
    border: 2px solid #444444;
    border-radius: 2px;
    background-color: #eeeeee;
    min-width: 100px;
    
    padding: 5px;
}

.knob
{
    width: 30px;
    height: 30px;
    
    border: 3px solid #bbbbbb;
    border-radius: 20px;
    transform: rotate(0deg);
    color: white;
    text-align: center;
    background-color: #434546;
    display: inline-block;
}

#knobLabel
{
    margin: 2px;
    width: 28px;
    font-family: 'VT323', monospace;
    border: 1px solid black;
    background-color: #3e4b2d;
    color: #daf73a;
    display: inline-block;
}

#menu
{
    left: 10px;
    bottom: 10px;
    height: auto;
    
    color: #dddddd;
    position: fixed;
    
    z-index: 2;
}
.menuButton
{
    height: 40px;
    width: 86px;
    background-color: #eeeeee;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 4px;
    margin-top: 2px;
    text-align: center;
    opacity: 80%;
    line-height: 40px;
    display: inline-block;
    transition: width 0.1s;
}
.menuButton:hover
{
    opacity: 100%;
    width: 92px;
    transition: width 0.1s;

}
.dropButton{
    background-color: #aaaaaa;
}
.drop{
    position: relative;
    display: inline-block;
}
.dropContent{
    position: absolute;
    display: none;
    bottom: 44px;
    z-index: 1;
}
.drop:hover .dropContent
{
    display: block;
}


path
{
    stroke: #aaaaaa;
    stroke-width: 4;
    fill: transparent;
    pointer-events: stroke;
    opacity: 55%;
}
path:hover
{
    stroke: #e2cf21;
    cursor: pointer;
    opacity: 100%;
}

#draw
{
    pointer-events: none;
    position: absolute;
    z-index: 1;
    
}